.sf-menu.sf-style-juststairs {
  float: right;
  margin-top:22px;
  padding: 0;
}
.sf-menu.sf-horizontal.sf-shadow ul {
  border-radius: 0px;
}

.sf-menu.sf-style-juststairs li#menu-218-1 a {
  background: url('/sites/all/themes/just_stairs/images/home-icon.png') center center no-repeat;
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 14px;
  padding-left: 14px;
  text-indent: -9999px;
}

.sf-menu.sf-style-juststairs li#menu-218-1:hover {
  background-color: #fff;
}

.sf-menu.sf-style-juststairs #menu-218-1 {
margin-top: 2px;
}

.sf-menu.sf-style-juststairs.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-juststairs ul {
  padding-left: 0;
}
.sf-menu.sf-style-juststairs a {
  color: #555;
  padding: 1.0em .8em;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Lato Black';
}
.sf-menu.sf-style-juststairs a.sf-depth-1 {
  padding: 1.3em .8em;
}

.sf-menu.sf-style-juststairs .sf-depth-1 > .sf-sub-indicator {
  margin-top:0.8em;
}
.sf-menu.sf-style-juststairs .sf-sub-indicator {
  margin-top:0.3em;
}

.sf-menu.sf-style-juststairs li li a, .sf-menu.sf-style-juststairs li.sfHover a {
  color:#fff;
}

.sf-menu.sf-style-juststairs .sf-depth-1 a {
  color:#555;
}

.sf-menu.sf-style-juststairs .sf-depth-1 a.active {}
.sf-menu.sf-style-juststairs .sf-depth-1 li.active-trail a {
  color: #0777BD;
}
.sf-menu.sf-style-juststairs .sf-depth-1 a:hover,
.sf-menu.sf-style-juststairs .sf-depth-1 li li.sfHover a {
  color:#fff;

}
.sf-menu.sf-style-juststairs .sf-depth-1 li.sfHover a.menuparent {
  color: #fff;
}

.sf-menu.sf-style-juststairs .sf-depth-2 a {
  text-transform: none;
  color:#BCDFF5 !important;
}

.sf-menu.sf-style-juststairs .sf-depth-2 a.active,
.sf-menu.sf-style-juststairs .sf-depth-2 li.active-trail a,
.sf-menu.sf-style-juststairs .sf-depth-2 a:hover,
.sf-menu.sf-style-juststairs .sf-depth-2 li li.sfHover a,
.sf-menu.sf-style-juststairs .sf-depth-1 li.sfHover a {
  color:#fff !important;
  background: #045B90;

}

.sf-menu.sf-style-juststairs a.sf-with-ul {
  padding-right: 1.5em;
}

.sf-accordion .sf-menu.sf-style-juststairs a.sf-with-ul {
  padding-right: 1.3em;
}

.sf-menu.sf-style-juststairs.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-juststairs.sf-navbar a {
  border: 0;
}
.sf-menu.sf-style-juststairs span.sf-description {
  color: #555555;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

.sf-menu.sf-style-juststairs ul li{
background: #fff;
border-bottom: 1px solid #01375D;
}
.sf-menu.sf-style-juststairs ul li.last {

border-bottom: none;
}



.sf-menu.sf-style-juststairs li,
.sf-menu.sf-style-juststairs.sf-navbar {
  background: #fff;
}
.sf-menu.sf-style-juststairs li li {
  background: #0777BD;
}
.sf-menu.sf-style-juststairs li li li {
  background: #f5f5f5;
}
.sf-menu.sf-style-juststairs li:hover,
.sf-menu.sf-style-juststairs li.sfHover,
.sf-menu.sf-style-juststairs li.active a,
.sf-menu.sf-style-juststairs a:focus,
.sf-menu.sf-style-juststairs a:hover,
.sf-menu.sf-style-juststairs a:active,
.sf-menu.sf-style-juststairs.sf-navbar li li {
  background: #0778BE;
}
.sf-menu.sf-style-juststairs.sf-navbar li ul {
  background-color: #e9e9e9;
}
.sf-menu.sf-style-juststairs.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-juststairs.rtl .sf-sub-indicator {
  background-image: url('../images/arrows-777777-rtl.png');
}



div.sf-accordion-toggle.sf-style-juststairs a {
  background: #fff;
  color: #0777BD;
  padding: 0;
 float:right;
  text-transform: uppercase;
  margin-top:-2em;
}





div.sf-accordion-toggle.sf-style-juststairs a.sf-expanded,
.sf-menu.sf-style-juststairs.sf-accordion li.sf-expanded {
  background-color: #e9e9e9;
  border-bottom: none;
}
div.sf-accordion-toggle.sf-style-juststairs a.sf-expanded,
.sf-menu.sf-style-juststairs.sf-accordion li.sf-expanded > a {
  font-weight: bold;
}
.sf-menu.sf-style-juststairs.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}

.sf-menu.sf-style-juststairs.sf-accordion li#menu-218-1 a {
  background: #0778BE !important;
  display: block;
  overflow: hidden;
  width: auto !important;
  height: auto!important;
  padding-left: none;
  text-indent:0px !important;
}

.sf-menu.sf-style-juststairs.sf-accordion li#menu-218-1:hover {
  background-color: #fff;
}


.sf-menu.sf-style-juststairs.sf-accordion li li a {
  padding-left: 2em;
}
.sf-menu.sf-style-juststairs.sf-accordion li li li a {
  padding-left: 3em;
}
.sf-menu.sf-style-juststairs.sf-accordion li li li li a {
  padding-left: 4em;
}
.sf-menu.sf-style-juststairs.sf-accordion li li li li li a {
  padding-left: 5em;
}


.sf-menu.sf-style-juststairs ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-juststairs ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-juststairs ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-juststairs ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}
.sf-menu.sf-style-juststairs.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
	
	top: 2.9em;
}
.sf-depth-2.menuparent.sf-with-ul {
	background: #0777BD;
}
.sf-sub-indicator {
  position: absolute;
  right: .5em;
}

ul.sf-menu.sf-accordion ul {
  background: #045B90;
}



.sf-menu.sf-style-juststairs li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
.sf-menu.sf-style-juststairs li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}
